[Unit]
Description=nemiBot
After=network.target

[Service]
WorkingDirectory=/opt/nemiBot/nemiBot/
ExecStart=/usr/bin/node nemiBot.js

[Install]
WantedBy=multi-user.target